

body {
    background-color:  #111111;
    background-position: center left;}

img.logo {
    float: inline-start;
    width: 60px;
    height: auto;}

h1, h2 {
    font-family: Arial, Verdana, sans-serif;}
    .credits {
    font-family: 'Oswald', sans-serif;}

h1 {
    color:  #BB000E;
    margin: 30px;}

p {
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 100px;
    margin-inline-end: 100px;}

img.align-center {
    display: block;
    margin: 0px auto;}
img.medium {
    width: 600px;
    height: 335px;}

ul {
    color: white;
    float: right;
    list-style: none;;
    margin-top: 20px;}

ul li{
    display: inline-block}

ul li a{ 
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;}

ul li a:hover{
    background-color: white ;
    color: #111111;}