
body{
    background-color: #197278;}

.Recangle{position:
    absolute;
    left:50%;
    right: 50%;
    transform: 
    translate(-50%,-50%);
    width: 1000px;
    height: 100px;
    background-color:#EDDDD4;}
h1{
    color: #C44536;
    font-size: 3em;
    margin-top: 30px;
    margin-left: 30px;}
h2 {
    color: #C44536;
}
p {
    color:#EDDDD4;}

ul {
    color: black;
    float: right;
    list-style: none;;
    margin-top: 20px;}

ul li{
    display: inline-block}

ul li a{ 
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid black;}

ul li a:hover{
    background-color:black;
    color:#EDDDD4;}
